@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
	--color-primary: #dd0000;
	--color-lighter-primary: #aa0000;
	--color-secondary: #f2bc5c;
	--color-grey: #141414;
	--color-lighter-grey: #323232;
	--color-background: #fef9f3;
	--color-accent: #f7aac5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Nunito;
}

body {
	background-color: var(--color-background);
	-ms-overflow-style: none;
	scrollbar-width: none;
	/* max-height: 100vh;
	overflow: hidden; */
}

::-webkit-scrollbar {
	/* display: none; */
}

a {
	text-decoration: none;
}
